@font-face {
    font-family: 'ArchRival';
    src: url('./fonts/SF_Arch_Rival.ttf');
  }

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: white;
    font-family: 'ArchRival';
}

:root{
    --color-bg1: rgb(48, 48, 48);
    --color-hover: rgb(255, 196, 0);
}

h1{
    font-size: 100px;
    font-weight: 200;
}

p{
    text-align: justify;
}

body{
    background: var(--color-bg1);
}


/* NAV */     
nav{
    font-size: 20px;
    background: transparent;
    background-color: rgb(44, 43, 43);
    width: 100vw;
    height: 5rem;
    position: fixed;
}

.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container a :hover{
    filter: opacity(30%)
}

.nav-menu{
    list-style-type: none;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.nav-menu li :hover{
    color: var(--color-hover)
}

.nav-menu a{    
    text-decoration: none;
}


/* HEADER */
header{
    height: 100vh;
    background: rgba(0, 0, 0, 0.5)url(media/1080p-anime-wallpaper-whatspaper-1.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-container{
    text-align: center;
    padding: 40vh 0;
}


        /* MAIN */
.content{
    padding: 0px 150px;
}

section{
    padding-top: 5rem;
}

section > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media (max-width: 1080px) {
    .content{
        padding: 0px 50px;
    }
  }