@font-face {
    font-family: 'ArchRival';
    src: url('./fonts/SF_Arch_Rival.ttf');
  }

:root{
    --color-bg: rgb(48, 48, 48);
    --color-bg-nav: rgb(41, 40, 40);
    --color-aqua: rgb(0,213,255);
    --font-1: 'ArchRival';
    --font-2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: white;
    font-family: var(--font-1);
}

h1{
    font-size: 100px;
    font-weight: 200;
}

p{
    text-align: justify;
    font-size: 20px;
    font-family: var(--font-2);
}

body{
    background: var(--color-bg);
}


        /* NAVBAR */     
nav{
    font-size: 20px;
    background: transparent;
    background-color: var(--color-bg-nav);
    width: 100vw;
    position: fixed;
    border-bottom: 5px solid var(--color-aqua);
    z-index: 999;
}

.nav-container{
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container>a :hover{
    filter: opacity(30%)
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-menu a{    
    text-decoration: none;
    display: block;
    padding: 25px 25px;
}

.nav-menu li :hover{
    background-color: var(--color-aqua);
    color: black;
}


        /* HEADER */
header{
    height: 100vh;
    background: rgba(0, 0, 0, 0.5)url(media/1080p-anime-wallpaper-whatspaper-1.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-container{
    text-align: center;
    padding: 40vh 0;
}

.header-container > h2{
    color: var(--color-aqua);
}


        /* MAIN */
.content{
    margin: 0 200px;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#about{
    margin: 0 100px;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(31, 31, 31);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    max-width: 300px;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 10px;
    transform: scale(1);
    transition: all 0.3s;
    
}

.card:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.card h3{
    text-align: center;
    font-weight: 500;
    margin: 5px;
    font-family: var(--font-2);
}

.card p{
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
    font-family: var(--font-2);
}

.card button {
    border-radius: 50px;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    background-color: var(--color-aqua);
    color: black;
}

        /* FOOTER */
footer{
    height: 160px;
    background-color: var(--color-bg-nav);
    border-top: 5px solid var(--color-aqua);
}

.footer-container{
    margin: 0 50px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.footer-container a{
    margin: 0 5px 10px;
}

.footer-container a :hover {
    color: var(--color-aqua);
}

.footer-created{
    background-color: rgb(31, 31, 31);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-created p {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}


@media (max-width: 1024px){
    .content{
        margin: 0px 50px 100px;
    }
}

@media (max-width: 480px){
    .content{
        margin: 0px 20px 100px;
    }
}